# Core Dependencies
Flask
Flask-SQLAlchemy
python-dotenv
requests
SQLAlchemy

# Production Server
gunicorn

# Testing & Quality
pytest
pytest-mock
pytest-cov

# Security & Linting
Werkzeug
cryptography
flake8

# Misc
setuptools