# Core Dependencies
Flask
Flask-SQLAlchemy
Flask-Limiter
Flask-CORS
python-dotenv
requests
SQLAlchemy
requests

# Production Server
gunicorn

# Testing & Quality
pytest
pytest-mock
pytest-cov

# Security & Linting
Werkzeug
cryptography
flake8

# Misc
setuptools